<div class="container-fluid my-3">
    <h1 class="h3 mb-0 text-gray-800 mb-3">Terms <span class="text-primary">&</span> Conditions</h1>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            If there is any technical fault, then you can return your product, till the time period of 6 months.
        </li>
        <li class="list-group-item">
            If you apply your id  before 1st date of  month then you will get your  payment on 15th date of this month. If you apply your ID  after 15th date of month  then you will get your payment on 1st date of next month.
        </li>
        <li class="list-group-item">
            You will get the product within 3 to 4 days, If it takes more time then talk to your Sponsor about your product.
        </li>
        <li class="list-group-item">
            Payment will be accepted through Paytm, Google Pay and UPI only,any card and any other online payment. NO cash will be accepted.
        </li>
        <li class="list-group-item">
            We follow all government conditions and we came under all  legal conditions in all of government.
        </li>
    </ul>
</div>
